<app-menu></app-menu>
<div class="container">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="account-settings">
			<div class="user-profile">
				<div class="user-avatar">
					<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
				</div>
				<h5 class="user-name"></h5>
				<h6 class="user-email"></h6>
			</div>
			<div class="about">
				<h5>About</h5>
				<p></p>
			</div>
		</div>
	</div>
</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h4 class="mb-2 text-primary">My Profile</h4>
			</div>
            <form [formGroup]="userForm" (ngSubmit)="updateUser()">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-group">
						<label for="firstName">Họ </label>
						<input type="text" class="form-control" id="firstName" placeholder="" formControlName="firstName" >
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-group">
						<label for="lastName">Tên </label>
						<input type="text" class="form-control" id="lastName" placeholder=""formControlName="lastName">
					</div>
				</div>
				
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-group">
						<label for="phone">Số điện thoại</label>
						<input type="text" class="form-control" id="phone" placeholder="Enter phone number" formControlName="phone">
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-group">
						<label for="birthDay">Ngày Sinh</label>
						<input type="date" class="form-control" id="birthDay"formControlName="birthday">
					</div>
				</div>

				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-group">
						<label for="eMail">Email</label>
						<input type="email" class="form-control" id="eMail" placeholder="Enter email ID"formControlName="email">
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-group">
						<label for="starDay">Ngày Bắt đầu hoạt động</label>
						<input type="date" class="form-control" id="startDay" placeholder=""formControlName="startDay" disabled>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="text-right">
						<button id="submit" name="submit" class="btn btn-default">Update</button>
					</div>
				</div>
        </form>   
		</div>
		
	</div>
	 
</div>
</div>
</div>
</div>
<app-footer></app-footer>
