

    <div class="danhsachsanpham col-sm-3 col-lg-2">
<mat-tab-group>
  <mat-tab label="Tất cả">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Tất cả </div>
					<div class="panel-body">
							<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Mã Đơn hàng</th>
									<th scope="col">Người mua</th>
									<th scope="col">Ngày Đặt</th>
									<th scope="col">Tổng đơn hàng</th>
                  					<th scope="col">Trạng thái</th>
									<th scope="col">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let order of orders">
									<td data-sortable="true">{{order.madh}}</td>
									<td data-sortable="true">{{order.matvmua}}</td>
									<td data-sortable="true">{{order.ngaytao}}</td>
									<td data-sortable="true">{{order.tongtien|currency:'VND':'symbol':'3.0'}}</td>
									<td data-sortable="true" *ngIf="order.trangthai=='1'">
											Xác thực đơn hàng
									</td>
									<td data-sortable="true" *ngIf="order.trangthai=='0'">
											Đã Hủy
									</td>
									<td data-sortable="true"><a class="link" (click)="goDetail(order)"><span class="glyphicon glyphicon-list-alt"></span>Xem Chi Tiết</a></td>																
							</tbody>
							</table>
					</div>
					</div>
					</div>		
              
             </mat-tab>
<mat-tab label="Đơn Bị Hủy">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Đơn Bị Hủy</div>
					<div class="panel-body">
							<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Mã sản phẩm</th>
									<th scope="col">Loại</th>
									<th scope="col">Tên sản phẩm</th>
									<th scope="col">Số lượng</th>
									<th scope="col">Giá</th>
									<th scope="col">Thong tin SP</th>
									<th scope="col">Hình ảnh</th>
                  					<th scope="col">Trạng thái</th>
									<th scope="col">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="">
									<td data-sortable="true"></td>
									<td data-sortable="true"></td>
									<td data-sortable="true"></td>
									<td data-sortable="true"></td>
									<td data-sortable="true"></td>
									<td data-sortable="true"></td>
									<td data-sortable="true"><img src="}" width="50px" height="50px"></td>
									<td data-sortable="true">
                  </td>
									
									
							</tbody>
							</table>
					</div>
					</div>
					</div>		
              
             </mat-tab>
</mat-tab-group>
		</div>