.sidebar-heading{
    display: table;
    margin-top: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 4em;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #9952e0 50%, #e05252 100%);       
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu{
    font-size: 2vh;
}
.sidebar{
    float: left;
    width: 300px;
}