	<div class="sidebar-heading">Administrator</div>
	<div id="sidebar-collapse" class="sidebar"><!--class="col-sm-3 col-lg-2 sidebar" -->
		<ul class="nav menu mt-3">
			<li id="lmn1"><a routerLink="/administrator/account"><span class="glyphicon glyphicon-stats"></span> Account</a></li>
			<li id="lmn2"><a routerLink="/administrator/menubar"><span class="glyphicon glyphicon-list-alt"></span> Danh mục</a></li>
			<li><a routerLink="/admin/order"><span class="glyphicon glyphicon-list-alt"></span>Quản Lý Đơn Hàng</a></li>	
		</ul>
	</div>
