
<h1>Add User</h1>
<!--
<form #recievedUser="ngForm">

  <label for="matv">id</label>
  <input type="text" class="form-control" id="matv" placeholder="user name" [(ngModel)]="user.matv" name="matv">
  <label for="ho">Ho</label>
  <input type="text" class="form-control" id="ho" placeholder="user name" [(ngModel)]="user.ho" name="ho">

  <label for="loaithanhvien">loaithanhvien</label>
  <input type="text" class="form-control" id="loaithanhvien" placeholder="type name" [(ngModel)]="user.loaithanhvien" name="loaithanhvien">

  <label for="ten">Ten</label>
  <input type="text" class="form-control" id="ten" placeholder="password" [(ngModel)]="user.ten" name="ten">

  <label for="ngaysinh">Ngay sinh</label>
  <input type="text" class="form-control" id="ngaysinh" placeholder="" [(ngModel)]="user.ngaysinh" name="ngaysinh">

  <label for="diachi">diachi</label>
  <input type="text" class="form-control" id="diachi" placeholder="type name" [(ngModel)]="user.diachi" name="diachi">

  <label for="ngaytao">Ngaytao</label>
  <input type="text" class="form-control" id="ngaytao" placeholder="password" [(ngModel)]="user.ngaytao" name="ngaytao">
  <br>
  <input type="text" class="form-control" id="trangthai" placeholder="password" [(ngModel)]="user.trangthai" name="trangthai" >
    <br>
  <input type="text" class="form-control" id="sdt" placeholder="sdt" [(ngModel)]="user.sdt" name="sdt">
   <br>
  <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
</form>
-->
<!--<h1>Add User</h1>
<form #recievedUser="ngForm">

  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="user.matv" name="name">

  <label for="type">Type</label>
  <input type="text" class="form-control" id="type" placeholder="type name" [(ngModel)]="user.loaithanhvien" name="name">

  <label for="text1">Password</label>
  <input type="text" class="form-control" id="password" placeholder="password" [(ngModel)]="user.ten" name="text1">
  <input type="text" class="form-control" id="password2" placeholder="password" [(ngModel)]="user.ngaytao" name="password2">
  <input type="text" class="form-control" id="password3" placeholder="password" [(ngModel)]="user.ngaysinh" name="password3">
  <input type="text" class="form-control" id="password4" placeholder="password" [(ngModel)]="user.trangthai" name="password4">
   <br>
  <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
</form>-->