<app-menu></app-menu>
<section id="cart_items">
		<div class="container">
			<!-- <div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div> -->
			<div class="shopper-informations">
				<div class="row">	
					<div class="col-sm-8" style="height: 200px;">
						<div class="bill-to">
							<p>Thông tin giao hàng</p>
							<div class="form-one">
								<form [formGroup]="infoForm">
									<input type="text" placeholder="Email*" formControlName="email" >
									<input type="text" placeholder="Họ" formControlName="ho">
									<input type="text" placeholder="Tên *"formControlName="ten">
									<input type="text" placeholder="Địa chỉ giao hàng 1 *"formControlName="address">
									<input type="text" placeholder="Số điện thoại"formControlName="phone">
									<select>
										<option>-- Thành Phố --</option>
										<option>Thủ đô Hà Nội</option>
										<option>Thành phố Hồ Chí Minh</option>
										<option>Đà Nẵng</option>
										<option>Huế</option>
										<option>Nghệ An</option>
										<option>Hải Phòng</option>
										<option>Cần Thơ</option>
										<option>Tây Ninh</option>
									</select>
								</form>
							</div>
							<div class="form-two">
								<form>
									<select>
										<option>-- Hình thức thanh toán --</option>
										<option>Ví AirPay</option>
										<option>Thẻ tín dụng</option>
										<option>Thanh toán khi nhận hàng</option>
									</select>
									<input type="text" placeholder="Mã giảm giá">
									<input type="text" placeholder="Voucher giao hàng">
									<br><br><br><br>
									
									<label for="ip1">Tổng tiền hàng</label>
									<input type="text" id="ip1" placeholder="Tổng tiền hàng" value="{{cartTotal}}" style="background-color:rgb(224, 220, 165); font-size: 13px;" disabled>
									<label for="ip2">Tổng tiền hàng</label>
									<input type="text" id="ip2" placeholder="Tổng phí vận chuyển" value="{{Shipping}}" style="background-color:rgb(224, 220, 165); font-size: 13px;" disabled>
									<label for="ip3">Tổng tiền hàng</label>
									<input type="text" id="ip3" placeholder="Tổng thanh toán" value="{{cartTotal2}}" style="background-color: rgb(230, 124, 49); font-size: 15px;" disabled>

								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Tin nhắn</p>
							<textarea name="message"  placeholder="Lưu ý cho người bán" rows="8"></textarea>
							<label><input type="checkbox"> Vận chuyển đến địa chỉ hóa đơn </label>
						</div>	
					</div>	
									
				</div>
			</div>
			<div class="review-payment">
				<h2>Danh sách mua hàng</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu" style="background-color: rgb(230, 124, 49);">
							<td class="image">Sản phẩm</td>
							<td class="description"></td>
							<td class="price">Giá</td>
							<td class="quantity">Số lượng</td>
							<td class="total">Tổng</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						
						<tr *ngFor="let cart of carts">
							<td class="cart_product">
								<a href=""><img src="../../assets/images/{{cart.product.hinhanh}}" alt="" width="100px" height="100px"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{cart.product.tensp}}</a></h4>
								<p>Web ID: {{cart.product.masp}}</p>
							</td>
							<td class="cart_price">
								<p>{{cart.product.gia|currency:'VND':'symbol':'3.0'}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" (click)="plusCart(cart.product)"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{cart.soluong}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" (click)="minusCart(cart.product)"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{cart.product.gia*cart.soluong}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>{{cartTotal|currency:'VND':'symbol':'3.0'}}</td>
									</tr>
									<tr>
										<td>Tax</td>
										<td>0</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>{{Shipping|currency:'VND':'symbol':'3.0'}}</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>{{cartTotal2|currency:'VND':'symbol':'3.0'}}</span></td>
									</tr>
								</table>
							</td>
					</tbody>
				</table>
			</div>
			<div class="payment-options row">
				<button type="submit" class="btn btn-default" (click)="createOrder()" >Mua hàng</button>
			</div>
		</div>
	</section> <!--/#cart_items-->
<app-footer></app-footer>