<app-menu></app-menu>
	<section id="form"><!--form-->
		<div class="container" >
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2 style="margin-left: 27%;">ĐĂNG NHẬP</h2>
						<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
							
							<label class="center-block">Email:</label>
							<input type="text" placeholder="Nhập địa chỉ email" formControlName="email">
							<div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="invalid-email">
								<div *ngIf="loginForm.get('email').errors.required" style="color:#f86161;">Email đang rỗng</div>
							</div>
							
							<label class="center-block" >Mật khẩu:</label>
							<input type="password" placeholder="Password" formControlName="matkhau" />
							<div *ngIf="loginForm.get('matkhau').touched && loginForm.get('matkhau').invalid" class="invalid-passwd">
								<div *ngIf="loginForm.get('matkhau').errors.required" style="color:#f86161;">Mật khẩu không hợp lệ</div>
							</div>
							
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span>
							
							<button style="margin-left: 26%;" type="submit"  class="btn btn-default" [disabled]="email.invalid || matkhau.invalid" >Đăng nhập</button>
						</form>
						</div><!--/login form-->
						</div>
						<div class="col-sm-1">
						<h2 class="or">Hoặc</h2>
						</div>
						<div class="col-sm-4">
						<div class="signup-form"><!--sign up form-->
							<h2 style="margin-left: 31%;">ĐĂNG KÝ</h2>
							<form [formGroup]="registerForm"  (ngSubmit)="registerNewUser()">
								<label class="center-block">Tên:</label>
								<input type="text" placeholder="Tên" formControlName="regisFirstName" [ngClass]="{'is-invalid':registerForm.get('regisFirstName').touched && registerForm.get('regisFirstName').invalid}"/>
								<div *ngIf="registerForm.get('regisFirstName').touched && registerForm.get('regisFirstName').invalid" class="invalid-firstName">
									<div *ngIf="registerForm.get('regisFirstName').errors.required" style="color:#f86161;">Tên đang rỗng</div>
								</div>
								
								<label class="center-block">Họ:</label>
								<input type="text" placeholder="Họ" formControlName="regisLastName" [ngClass]="{'is-invalid':registerForm.get('regisLastName').touched && registerForm.get('regisLastName').invalid}"/>
								<div *ngIf="registerForm.get('regisLastName').touched && registerForm.get('regisLastName').invalid" class="invalid-lastName">
									<div *ngIf="registerForm.get('regisLastName').errors.required" style="color:#f86161;">Họ đang rỗng</div>
								</div>

								<label class="center-block">Số điện thoại:</label>
								<input type="text" placeholder="Số điện thoại" formControlName="regisPhone" [ngClass]="{'is-invalid':registerForm.get('regisPhone').touched && registerForm.get('regisPhone').invalid}"/>
								<mat-error style="color:#f86161;" *ngIf="registerForm.get('regisPhone').touched && registerForm.get('regisPhone').invalid" class="invalid-phone">
									<div *ngIf="registerForm.get('regisPhone').errors.required" style="color:#f86161;">Số điện thoại đang rỗng</div>
									Số điện thoại không hợp lệ
								</mat-error>
								
								<label class="center-block">Email:</label>
								<input type="email" placeholder="Địa chỉ email"formControlName="regisEmail" [ngClass]="{'is-invalid':registerForm.get('regisEmail').touched && registerForm.get('regisEmail').invalid}"/>
								<mat-error style="color:#f86161;" *ngIf="registerForm.get('regisEmail').touched && registerForm.get('regisEmail').invalid" class="invalid-email">
									<div *ngIf="registerForm.get('regisEmail').errors.required" style="color:#f86161;">Email đang rỗng</div>
									Email không hợp lệ
									<br>
								</mat-error>
								<mat-hint style="color:#0ca2b6;">* example@gmail.com</mat-hint>
								<label class="center-block" >Mật khẩu:</label>
								<input type="password" placeholder="Password"formControlName="regisPassword" [ngClass]="{'is-invalid':registerForm.get('regisPassword').touched && registerForm.get('regisPassword').invalid}"/>
								<mat-error style="color:#f86161;" *ngIf="registerForm.get('regisPassword').touched && registerForm.get('regisPassword').invalid" class="invalid-passwd">
									<div *ngIf="registerForm.get('regisPassword').errors.required" style="color:#f86161;">Mật khẩu đang rỗng</div>
									Mật khẩu không hợp lệ
									<br>		
								</mat-error>
								<mat-hint style="color:#0ca2b6;">* Mật khẩu phải có kí tự 1 ký tự in hoa, ký tự số, ký tự thường, mật khẩu dài ít nhất 6 ký tự </mat-hint>
								<br>
								<button style="margin-left: 31%;margin-top: 10%;" type="submit" class="btn btn-default" [disabled]="regisFirstName.invalid || regisLastName.invalid
								|| regisPhone.invalid || regisEmail.invalid || regisPassword.invalid" >Đăng ký</button>
							</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
<app-footer></app-footer>
<!--
	<form #loginform="ngForm">
							{{loginform.form.valid}}
							<input type="email" placeholder="Enter Email Address" [(ngModel)]= "user.email" require #email="ngModel" 
							[class.is-invalid]="email.invalid && email.touch"  
							/>
							<div *ngIf="email.errors && (email.invalid && email.touch)">
								<small class = "text-danger"[class.d-none]="email.invalid || email.touch">Email is require</small>
							</div>
							<input type="password" placeholder="Password" [(ngModel)]= "user.matkhau" />
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span>
							<button type="submit"  class="btn btn-default" (click)="loginUser()">Login</button>
						</form>
						</div><!--/login form
						</div>
						<div class="col-sm-1">
						<h2 class="or">OR</h2>
						</div>
						<div class="col-sm-4">
						<div class="signup-form"><!--sign up form-->
							
-->