<app-menu></app-menu>
<section>	
		<div class="container">
			
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Danh mục</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#DELL">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											DELL
										</a>
									</h4>
								</div>
								<div id="DELL" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a routerLink="dellprecision">DELL PRECISION</a></li>
											<li><a routerLink="delllatitule">DELL LATITULE</a></li>
											<li><a routerLink="dellalienware">DELL ALIENWARE</a></li>
											<li><a routerLink="dellxps">DELL XPS</a></li>
											<li><a routerLink="dellvostro">DELL VOSTRO</a></li>
											<li><a routerLink="dellinsprion">DELL INSPIRON</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#HP">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											HP										
										</a>
									</h4>
								</div>
								<div id="HP" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a routerLink="hpelitebook">HP ELITEBOOK</a></li>
											<li><a routerLink="hpenvy">HP ENVY</a></li>
											<li><a routerLink="hpprobook">HP PROBOOK</a></li>
											<li><a routerLink="hppavilion">HP PAVILION</a></li>
											<li><a routerLink="hpzbook">HP ZBOOK</a></li>
											<li><a routerLink="hpspectre">HP SPECTRE</a></li>
											<li><a routerLink="hpomen">HP OMEN</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#ASUS">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											ASUS
										</a>
									</h4>
								</div>
								<div id="ASUS" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a routerLink="asusgseries">ASUS G SERIES</a></li>
											<li><a routerLink="asusuxseries">ASUS UX SERIES</a></li>
											<li><a routerLink="asusxseries">ASUS X SERIES</a></li>
											<li><a routerLink="asuskseries">ASUS K SERIES</a></li>
											<li><a routerLink="asusnseries">ASUS N SERIES</a></li>
											<li><a routerLink="asuspuseries">ASUS PU SERIES</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#LENOVO">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											LENOVO
										</a>
									</h4>
								</div>
								<div id="LENOVO" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a routerLink="lenovothinkpad">LENOVO THINKPAF</a></li>
											<li><a routerLink="lenovothinkbook">LENOVO THINKBOOK</a></li>
											<li><a routerLink="lenovoideapad">LENOVO IDEAPAD</a></li>
											<li><a routerLink="lenovoyoga">LENOVO YOGA</a></li>
											<li><a routerLink="lenovolegion">LENOVO LEGION</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#ACER">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											ACER
										</a>
									</h4>
								</div>
								<div id="ACER" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a routerLink="aceraspire">ACER ASPIRE</a></li>
											<li><a routerLink="acernitro">ACER NITRO</a></li>
											<li><a routerLink="acerswift">ACER SWIFT</a></li>
											<li><a routerLink="acerpredator">ACER PREDATOR</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#MSI">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											MSI
										</a>
									</h4>
								</div>
								<div id="MSI" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a routerLink="msimodern">MSI MODERN</a></li>
											<li><a routerLink="msigf">MSI GF</a></li>
											<li><a routerLink="msigl">MSI GL</a></li>
											<li><a routerLink="msibravo">MSI BRAVO</a></li>
											<li><a routerLink="msiprestige">MSI PRESTIGE</a></li>
											<li><a routerLink="msigs">MSI GS</a></li>
											<li><a routerLink="msige">MSI GE</a></li>
										</ul>
									</div>
								</div>
							</div>
								<div>
						<h2>Filter</h2>
						<div class="search_box pull-left">
							<input type="text"  class="form-control" placeholder="Search" [(ngModel)]="searchText" display="text-align:center"/>
						</div>
						</div><!--/category-productsr-->
					
						<!-- <div class="brands_products">
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
									<li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
									<li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
									<li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
									<li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>
									<li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>
									<li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
								</ul>
							</div>
						</div> -->

						</div>
						<div class="price-range"><!--price-range-->
							<h2>Khoảng giá</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b>{{0|currency:'VND':'symbol':'3.0'}}</b> <b class="pull-right">{{100000000|currency:'VND':'symbol':'3.0'}}</b>
							</div>
						</div><!--/price-range-->
						
						<!-- <div class="shipping text-center">
							<img src="../../assets/images/home/shipping.jpg" alt="" />
						</div> -->
						
					</div>
				</div>
				
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Sản phẩm</h2>
					<!-- <div class="col">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search" [(ngModel)]="searchText"/>
						</div>
					</div>
					<div style="clear: both;"></div>
					<br> -->
					<div class="col-sm-4" *ngFor="let product of products | filter : searchText | paginate:{itemsPerPage:8,currentPage:p,totalItems:products.length} ">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="../../../../assets/images/{{product.hinhanh}}" alt="" />
									<span style="display:'none'">{{product.masp}}</span>
									<h2>{{product.gia|currency:'VND':'symbol':'3.0'}} VNĐ</h2>
									<p>{{product.tensp}}</p>
									<a  class="btn btn-default add-to-cart" (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
								</div>
								<div class="product-overlay" >
									<div class="overlay-content">
										<h2>{{product.gia|currency:'VND':'symbol':'3.0'}} VNĐ</h2>
										<p class="btn btn-sucess stretched-link" (click)="goDetail(product)">{{product.tensp}}</p>
										<a  class="btn btn-default add-to-cart" (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
									</div>
								</div>
							</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào danh sách yêu thích</a></li>
										<!--<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
									</ul>
								</div>
						</div>
					</div><!--features_items-->
						
				</div>
				<pagination-controls (pageChange)="p = $event"></pagination-controls>
			</div>
		</div>		
	</section>
<app-footer></app-footer>