<div class="danhsachsanpham col-sm-3 col-lg-2">
		<div class="row">
			<ol class="breadcrumb mt-1">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Bảng sản phẩm</li>
			</ol>
		</div><!--/.row-->	
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Bảng sản phẩm</div>
					<div class="panel-body">
					<app-addproduct></app-addproduct>
							<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Mã sản phẩm</th>
									<th scope="col">Loại</th>
									<th scope="col">Tên sản phẩm</th>
									<th scope="col">Số lượng</th>
									<th scope="col">Giá</th>
									<th scope="col">Thông tin SP</th>
									<th scope="col">Hình ảnh</th>
                  <th scope="col">Trạng thái</th>
									<th scope="col">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let product of products">
									<td data-sortable="true">{{product.masp}}</td>
									<td data-sortable="true">{{product.maloai}}</td>
									<td data-sortable="true">{{product.tensp}}</td>
									<td data-sortable="true">{{product.soluong}}</td>
									<td data-sortable="true">{{product.gia}}</td>
									<td data-sortable="true">{{product.thongtinsanpham}}</td>
									<td data-sortable="true"><img src="../../../../assets/images/{{product.hinhanh}}" width="50px" height="50px"></td>
									<td data-sortable="true" *ngIf="product.trangthai=='1'">
                          Đang hoạt động
                  </td>
                  <td data-sortable="true" *ngIf="product.trangthai=='0'">
                          Tạm ẩn
                  </td>
									
									
									<td data-sortable="true">
                  <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" [product]="selectedProduct"
        (click)="frame.show();editProduct(product)" mdbWavesEffect><i class="fa fa-edit"></i></button>									
									<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#confirm-delete" [product]="selectedProduct"
    		(click)="deleteProduct(product)"mdbWavesEffect><i class="fa fa-trash-o"></i></button>
         <button mdbBtn color="default"mdbWavesEffect rounded="true"[product]="selectedProduct"
         (click)="statusProduct(product)">Enable/Disable</button></td>

							</tbody>
							</table>
              
							
					</div>
				</div>
			</div>
		</div>
		<!--modal-->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  role="document"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Update</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="validatingForm" (ngSubmit)="updateProduct()">
        <div class="md-form mb-5">
          <label for="ProductFormModalID">Mã sản phẩm</label>
          <input type="text" id="ProductFormModalID" class="form-control" formControlName="ProductFormModalID" 
                 mdbInput mdbValidate >
        </div>
        <div class="md-form mb-5">
          <label for="ProductFormModalName">Tên sản phẩm</label>
          <input type="text" id="ProductFormModalName" class="form-control" formControlName="ProductFormModalName"
                 mdbInput mdbValidate value="product.tensp">
        </div>
        <div class="md-form mb-4">
          <label for="ProductFormModalInfo">Thông tin sản phẩm</label>       
          <input type="text" id="ProductFormModalInfo" class="form-control" formControlName="ProductFormModalInfo"
                 mdbInput mdbValidate >
        </div>
         <div class="md-form mb-4">
          <label for="ProductFormModalPrice">Giá</label>     
          <input type="text" id="ProductFormModalPrice" class="form-control" formControlName="ProductFormModalPrice"
                 mdbInput mdbValidate>
        </div>
         <div class="md-form mb-4">
          <label for="ProductFormModalQuantity">Số lượng</label>       
          <input type="text" id="ProductFormModalQuantity" class="form-control" formControlName="ProductFormModalQuantity"
                 mdbInput mdbValidate >      
          <div class="md-form mb-4">
          <label for="ProductFormModalImage">Hình ảnh</label>       
          <input type="file" id="ProductFormModalImage" accept="image/*"  (change)="onFileChanged($event)" class="form-control" formControlName="ProductFormModalImage"
                 mdbInput mdbValidate style="display:none" #fileInput>
                 <br>
          <button mdbBtn color="deep-orange" class="waves-light" (click)="fileInput.click()">Image</button>
        
          <div class="md-form mb-4">
              
              <img [src]="imgURL" height="200" width="200" >
        
        </div>
		<input type="hidden" id="orangeForm-ml" class="form-control" formControlName="ProductFormModalMaloai"
                 mdbInput mdbValidate>
        <input type="hidden" id="orangeForm-tt" class="form-control" formControlName="ProductFormModalTrangThai"
                 mdbInput mdbValidate>
        
    </div>
     
      <div class="modal-footer d-flex justify-content-center">
        <button  mdbBtn color="deep-orange" class="waves-light"  >Update</button>
      </div>
  
    </div>
         </form>
  </div>
</div>
