	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6 ">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a href="index.html"><img src="../../assets/images/home/logo.png" width="80px" height="80px" alt="" /></a>
						</div>
						<div class="btn-group pull-right clearfix">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									VIETNAM
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">USA</a></li>
									<li><a href="">UK</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									VNĐ
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">DOLLAR</a></li>
									<li><a href="">EURO</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 clearfix">
						<div class="shop-menu clearfix pull-right">
							<ul class="nav navbar-nav">
								<li><a *ngIf="!isLoggedIn()" routerLink="/home/login"><i class="fa fa-user"></i> Đăng nhập</a></li>
								<li><a href=""><i class="fa fa-star"></i> Yêu thích</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
								<li><a  routerLink="/home/cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
								<li><a *ngIf="isLoggedIn()"(click)="logout()" ><i class="fa fa-lock"></i> Đăng xuất</a></li>
								<li><a *ngIf="isLoggedIn()" routerLink="/home/{{user.email}}">{{user.email}}</a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<!---------------------------------------------------------------------------------------------->
								<li class="dropdown"><a href="#" class="active">DELL<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a routerLink="dellprecision">DELL PRECISION</a></li>
										<li><a routerLink="delllatitule">DELL LATITULE</a></li>
										<li><a routerLink="dellalienware">DELL ALIENWARE</a></li>
										<li><a routerLink="dellxps">DELL XPS</a></li>
										<li><a routerLink="dellvostro">DELL VOSTRO</a></li>
										<li><a routerLink="dellinsprion">DELL INSPIRON</a></li>
                                    </ul>
                                </li>
								<!---------------------------------------------------------------------------------------------->
								<li class="dropdown"><a href="#" class="active">HP<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a routerLink="hpelitebook">HP ELITEBOOK</a></li>
										<li><a routerLink="hpenvy">HP ENVY</a></li>
										<li><a routerLink="hpprobook">HP PROBOOK</a></li>
										<li><a routerLink="hppavilion">HP PAVILION</a></li>
										<li><a routerLink="hpzbook">HP ZBOOK</a></li>
										<li><a routerLink="hpspectre">HP SPECTRE</a></li>
										<li><a routerLink="hpomen">HP OMEN</a></li>
                                    </ul>
                                </li>
								<!---------------------------------------------------------------------------------------------->
								<li class="dropdown"><a href="#" class="active">ASUS<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a routerLink="asusgseries">ASUS G SERIES</a></li>
										<li><a routerLink="asusuxseries">ASUS UX SERIES</a></li>
										<li><a routerLink="asusxseries">ASUS X SERIES</a></li>
										<li><a routerLink="asuskseries">ASUS K SERIES</a></li>
										<li><a routerLink="asusnseries">ASUS N SERIES</a></li>
										<li><a routerLink="asuspuseries">ASUS PU SERIES</a></li>
                                    </ul>
                                </li>
								<!---------------------------------------------------------------------------------------------->
								<li class="dropdown"><a href="#" class="active">LENOVO<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a routerLink="lenovothinkpad">LENOVO THINKPAF</a></li>
										<li><a routerLink="lenovothinkbook">LENOVO THINKBOOK</a></li>
										<li><a routerLink="lenovoideapad">LENOVO IDEAPAD</a></li>
										<li><a routerLink="lenovoyoga">LENOVO YOGA</a></li>
										<li><a routerLink="lenovolegion">LENOVO LEGION</a></li>
                                    </ul>
                                </li>
								<!---------------------------------------------------------------------------------------------->
								<li class="dropdown"><a href="#" class="active">ACER<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a routerLink="aceraspire">ACER ASPIRE</a></li>
										<li><a routerLink="acernitro">ACER NITRO</a></li>
										<li><a routerLink="acerswift">ACER SWIFT</a></li>
										<li><a routerLink="acerpredator">ACER PREDATOR</a></li>
                                    </ul>
                                </li>
								<!---------------------------------------------------------------------------------------------->
								<li class="dropdown"><a href="#" class="active">MSI<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a routerLink="msimodern">MSI MODERN</a></li>
										<li><a routerLink="msigf">MSI GF</a></li>
										<li><a routerLink="msigl">MSI GL</a></li>
										<li><a routerLink="msibravo">MSI BRAVO</a></li>
										<li><a routerLink="msiprestige">MSI PRESTIGE</a></li>
										<li><a routerLink="msigs">MSI GS</a></li>
										<li><a routerLink="msige">MSI GE</a></li>
                                    </ul>
                                </li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<form [formGroup]="formSearch"  (ngSubmit)="searchProduct()">
							<input type="text"  class="form-control" placeholder="Search" display="text-align:center" formControlName="searchValue" />
							 <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
				</div>
			</div>
	</header>

