.sidebar-heading{
    display: table;
    margin-top: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 4em;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);       
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.t{
    max-width:12%;
    display: block;
    height: 100%;
}
@media only screen and (max-width:700px) {
    .t{
        display: inline;
        text-align: center;
    }
}