	<div class="sidebar-heading">Manage Your Store</div>
	<div id="sidebar-collapse" class="sidebar"><!--class="col-sm-3 col-lg-2 sidebar" -->
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu mt-3">
			<li id="lmn1"><a href="#"><span class="glyphicon glyphicon-stats"></span> Thống kê tình hình kinh doanh</a></li>
			<li id="lmn2"><a routerLink="/admin/product"><span class="glyphicon glyphicon-list-alt"></span> Danh sách sản phẩm</a></li>
			<li id="lmn3"><a routerLink="/admin/transports"><span class="glyphicon glyphicon-list-alt"></span> Van Chuyen</a></li>
			<li>
								
				<a data-toggle="collapse" data-parent="#accordian" href="#ORDER">
				<span class="glyphicon glyphicon-list-alt"></span>
										Quản Lý Đơn Hàng
				</a>
				<div id="ORDER" class="panel-collapse collapse">
						<ul>
							<li><a routerLink="order">Tất cả</a></li>
							<li><a routerLink="delllatitule">Đơn Hủy</a></li>
						</ul>
				</div>	
			</li>	
		</ul>
	</div>
