	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu mt-3">

			<li id="lmn1"><a href="#"><span class="glyphicon glyphicon-stats"></span> Thống kê tình hình kinh doanh</a></li>
			<li id="lmn2"><a routerLink="/admin/product"><span class="glyphicon glyphicon-list-alt"></span> Danh sách sản phẩm</a></li>
			<li id="lmn3"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Danh sách tài khoản</a></li>
			<li id="lmn4"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Danh sách đặt hàng</a></li>
			<li id="lmn5"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Danh sách hóa đơn</a></li>
		</ul>
	
	</div>
