
<h1>Users Admin</h1>
<a class="btn btn-primary mb-3" (click)="addUser()">add</a>
<div class="container row">
    <div  class="col-md-6">
    <table class="table table-dark">
        <thead>
                <tr>
                    <th scope='col'>ID</th>
                    <th scope='col'>Loai Thanh vien</th>
                    <th scope='col'>ho</th>
                    <th scope='col'>ten</th>
                    <th scope='col'>ngay sinh</th>
                    <th scope='col'>dia chi</th>
                    <th scope='col'>ngay tao</th>
                    <th scope='col'>trang thai</th>
                    <th scope='col'>sdt</th>
                    <th scope='col'></th>
            </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" >
                    <td>{{user.matv}}</td>
                    <td>{{user.loaithanhvien}}</td>
                    <td>{{user.ho}}</td>
                    <td>{{user.ten}}</td>
                    <td>{{user.ngaysinh}}</td>
                    <td>{{user.diachi}}</td>
                    <td>{{user.ngaytao}}</td>
                    <td>{{user.trangthai}}</td>
                    <td>{{user.sdt}}
                    <td><button type="button" class="btn btn-primary">Show Details</button></td>
                </tr>
      </tbody>
    </table>
  </div>
  <div   class="col-md-6">
      <app-adduser *ngIf="action === 'add'"  [user]="selectedUser"></app-adduser>
  </div>
</div>
