<app-menu></app-menu>
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="blog-post-area">
        <h2 class="title text-center">Blog của cửa hàng</h2>
        <div class="single-blog-post">
            <h3>Galaxy Book Pro và Galaxy Book Pro 360 xuất hiện 'bằng xương bằng thịt', không cần chờ ra mắt cũng biết hết rồi</h3>
            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-user"></i> Phong Phú</li>
                    <li><i class="fa fa-clock-o"></i> 7:00 am</li>
                    <li><i class="fa fa-calendar"></i> SEP 8, 2020</li>
                </ul>
                <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                </span>
            </div>
            <a href="">
                <img src="../../assets/images/blog/blog-one.jpg" alt="">
            </a>
            <p>Vào khoảng ba tuần trước, bộ đôi Samsung Galaxy Book Pro và Samsung Galaxy Book Pro 360 đã bị rò rỉ gần như toàn bộ thông số cấu hình và cả ảnh render. Hôm nay, hình ảnh chụp thực tế hai chiếc laptop mới lại bị tiết lộ bởi cơ quan chứng nhận SafetyKorea (Hàn Quốc).</p>
            <a  class="btn btn-primary" href="">Xem thêm</a>
        </div>
        <div class="single-blog-post">
            <h3>Laptop lai 2 trong 1 Samsung Galaxy Book Pro 360 lộ ảnh render mọi góc cạnh, có màn hình cảm ứng và hỗ trợ bút S Pen</h3>
            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-user"></i> Phong Phú</li>
                    <li><i class="fa fa-clock-o"></i> 20:33 pm</li>
                    <li><i class="fa fa-calendar"></i> NOV 5, 2021</li>
                </ul>
                <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </span>
            </div>
            <a href="">
                <img src="../../assets/images/blog/blog-two.jpg" alt="">
            </a>
            <p>Samsung đã xác nhận rằng hãng sẽ tổ chức một sự kiện ra mắt sản phẩm mới vào ngày 28/4, rất có thể để công bố Galaxy Book Pro và Galaxy Book Pro 360. Bây giờ, chuyên gia rò rỉ nổi tiếng Evan Blass đã chia sẻ những hình ảnh render mới của Galaxy Book Pro 360.</p>
            <a  class="btn btn-primary" href="">Xem thêm</a>
        </div>
        <div class="single-blog-post">
            <h3>Deal siêu ngon: Loạt laptop cao cấp có thiết kế mỏng nhẹ, hiệu năng vượt trội đang giảm cực nhiệt đến 5 triệu, rất đáng mua</h3>
            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-user"></i> Phong Phú</li>
                    <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                    <li><i class="fa fa-calendar"></i> DEC 5, 2021</li>
                </ul>
                <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </span>
            </div>
            <a href="">
                <img src="../../assets/images/blog/blog-three.jpg" alt="">
            </a>
            <p>Cơ hội cho những ai đang muốn nâng cấp chiếc laptop của mình đến rồi đây, loạt laptop cao cấp sở hữu thiết kế mỏng nhẹ, cấu hình mạnh mẽ đang giảm cực khủng tại Thế Giới Di Động với mức giảm đến 5 triệu đồng đó. Deal hời thế này ngại gì không sắm bạn ơi!</p>
            <a  class="btn btn-primary" href="">Xem thêm</a>
        </div>
        <div class="pagination-area">
            <ul class="pagination">
                <li><a href="" class="active">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div>
<app-footer></app-footer>

</div>
